<html>
<head>
	<title>Party detector</title>
	<script src="js/jquery-1.8.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/circulate.css">
    <script type='text/javascript' src='js/jquery.easing.1.2.js'></script>
    <script type='text/javascript' src='js/jquery.circulate.js'></script>
    <script type='text/javascript' src='js/circulate.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<!-- 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" /> -->
	
</head>
<body>

<div id="root" data-role="page">

	<div id="colored-header">
		<div id="red"></div>
		<div id="orange"></div>
		<div id="yellow"></div>
		<div id="green"></div>
		<div id="blue"></div>
        <div id="indigo"></div>
        <div id="violet"></div>
	</div>

	<h1 id="title">Party Crasher</h1>
	<!-- <img src="images/gif/beonce.gif"> -->
	<div id="menu">
        <a id="send_tip" href="#">
            <div style="border-color: blueviolet" class="img-container">
                <span style="display:none" class="text">Send tip</span>
                <img style="padding: 5px; vertical-align: middle" src="images/disco-ball.jpg">
            </div>
        </a>

        <a id="find_party" href="#">
            <div style="border-color: peachpuff" class="img-container">
                <img style="padding: 5px; vertical-align: middle" src="images/party-wallpaper.jpg">
                <span style="display:none" class="text">Find party</span>
            </div>
        </a>
        <a id="events" href="#">
            <div style="border-color: tomato" class="img-container">
                <span style="display:none" class="text">Events</span>
                <img style="padding: 5px; vertical-align: middle" src="images/vaci.jpg">
            </div>
        </a>
	</div>

    <div id="sphere-area">
        <img src="images/ball-orange.png" alt="ball" id="orange-ball" />
        <img src="images/ball-blue.png" id="blue-ball" alt="" />
        <img src="images/ball-green.png" id="green-ball" alt="" />
    </div>

	<!--<div id="main">-->
		<!--<h1>Title Page</h1>-->
	<!--</div>-->


<!-- 	<div class="party-loader" style="opacity:0.4">
		<img src="images/gif/beonce.gif">
		<span>Detecting...</span>
	</div> -->
</div>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>