<html>
<head>
	<title>Party detector</title>
	<script src="js/jquery-1.8.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/circulate.css">
    <script type='text/javascript' src='js/jquery.easing.1.2.js'></script>
    <script type='text/javascript' src='js/jquery.circulate.js'></script>
    <script type='text/javascript' src='js/circulate.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/script.js"></script>
<!-- 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" /> -->
	
</head>
<body>

<div id="root" data-role="page">

    <!--START OF HEADER-->
    <header>
        <div id="colored-header">
            <div id="red">
                <img class="rainbow-img" src="images/music_pattern.jpg">
            </div>
            <div id="orange">
                <img class="rainbow-img" src="images/music_pattern.jpg">
            </div>
            <div id="yellow">
                <img class="rainbow-img" src="images/music_pattern.jpg">
            </div>
            <div id="green">
                <img class="rainbow-img" src="images/music_pattern.jpg">
            </div>
            <div id="blue">
                <img class="rainbow-img" src="images/music_pattern.jpg">
            </div>
            <div id="indigo">
                <img class="rainbow-img" src="images/music_pattern.jpg">
            </div>
            <div id="violet">
                <img class="rainbow-img" src="images/music_pattern.jpg">
            </div>
        </div>

        <div id="title-div">
            <h1 id="title">Party Crasher</h1>
        </div>
    </header>
    <!--END OF HEADER-->
    <!--<div id="bubbles">-->
        <!--<div class="top-demo group">-->
            <!--<div>mata</div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--&lt;!&ndash;<div></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div></div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
	<!-- <img src="images/gif/beonce.gif"> -->
	<div id="menu">
        <a id="send_tip" href="#">
            <div style="border-color: blueviolet; margin-top: 110px" class="img-container">
                <span style="display:none" class="text">Send tip</span>
                <img style="padding: 5px; vertical-align: middle" src="images/disco-ball.jpg">
            </div>
        </a>

        <a id="find_party" href="#">
            <div style="border-color: peachpuff" class="img-container">
                <img style="padding: 5px; vertical-align: middle" src="images/party-wallpaper.jpg">
                <span style="display:none" class="text">Find party</span>
            </div>
        </a>
        <a id="events" href="#">
            <div style="border-color: tomato" class="img-container">
                <span style="display:none" class="text">Events</span>
                <img style="padding: 5px; vertical-align: middle" src="images/vaci.jpg">
            </div>
        </a>
	</div>

    <div id="audio">
        <audio id="red-note" preload="auto">
            <source src="http://pianosounds.pixelass.com/tones/grand-piano/1E.ogg" type="audio/ogg">
        </audio>
        <audio id="orange-note" preload="auto">
            <source src="http://pianosounds.pixelass.com/tones/grand-piano/1F.ogg" type="audio/ogg">
        </audio>
        <audio id="yellow-note" preload="auto">
            <source src="http://pianosounds.pixelass.com/tones/grand-piano/1G.ogg" type="audio/ogg">
        </audio>
        <audio id="green-note" preload="auto">
            <source src="http://pianosounds.pixelass.com/tones/grand-piano/1A.ogg" type="audio/ogg">
        </audio>
        <audio id="blue-note" preload="auto">
            <source src="http://pianosounds.pixelass.com/tones/grand-piano/1B.ogg" type="audio/ogg">
        </audio>
        <audio id="indigo-note" preload="auto">
            <source src="http://pianosounds.pixelass.com/tones/grand-piano/2C.ogg" type="audio/ogg">
        </audio>
        <audio id="violet-note" preload="auto">
            <source src="http://pianosounds.pixelass.com/tones/grand-piano/2D.ogg" type="audio/ogg">
        </audio>
    </div>


    <!--<div id="sphere-area">-->
        <!--<img src="images/ball-orange.png" alt="ball" id="orange-ball" />-->
        <!--<img src="images/ball-blue.png" id="blue-ball" alt="" />-->
        <!--<img src="images/ball-green.png" id="green-ball" alt="" />-->
    <!--</div>-->

</div>
</body>
</html>