.img-container {
    position: relative;
    display: inline-block;
    /* if you need ie6/7 support */
    *display: inline;
    zoom: 1;
    border-radius: 15px;
    z-index: 100;
    border: 3px solid;
    
    background: black;
    float: right;
    clear: right;

    margin-bottom: 60px;
    margin-top: -30px;
}

body {
	background: url('../images/binding_dark.png');
	/*background: */
}

.img-container:hover {
	opacity: 0.7;
}

.text {
	font-size: 40px;
	color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.party-loader {
    opacity: 0.4;
}

.party-loader span {
    z-index: 1000;
    color: white;
}

#colored-header div{
    position: fixed;
    top:0px;
    width: 30px;
}

#red {
    height: 70px;
    background: red;
}

#orange {
    height: 95px;
    background: orange;
}

#yellow {
    height: 120px;
    background: yellow;
}

#green {
    height: 145px;
    background: green;
}

#blue {
    height: 120px;
    background: midnightblue;
}

#indigo {
    height: 95px;
    background: #4B0082;
}

#violet {
    height: 70px;
    background: #8F00FF;
}

h1#title{
    font-style: italic;
    color:bisque;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}

#main {
    position: absolute;
    height: 400px;
    width: 900px;
    background-color:black;
    border-radius:25px;
    margin-top: 200px;
    margin-left: 150px;
}

#main h1{
    position: relative;
    top: 10px;
    left: 10px;
    color: white;
}

a {
    text-decoration: none;
}